* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --colorF6: #f6f6f6;
  --background-yellow: #ffec00;
  --color-black: #1a1a18;
  --text-black: #1a1a18;
}

h2 {
  font-weight: 800;
  font-size: 34px;
  color: var(--text-black);
  font-family: sans-serif;
  /* margin: 56px 0 24px 0; */
}
